[submodule "Toolkit/UnityToolkit"]
	path = Toolkit/UnityToolkit
	url = https://github.com/NicoIer/UnityToolkit.git
[submodule "GameCore"]
	path = GameCore
	url = https://github.com/NicoIer/GameCore.git
